## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\emmar\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis='columns')
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications = application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() > 1]
classifications

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []
for x in application_df['CLASSIFICATION']:
    if x != "C1000" and x != 'C2000' and x != 'C1200' and x != 'C3000' and x != 'C2100':
        classifications_to_replace.append(x)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=int)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\emmar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\emmar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\emmar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\emmar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\emmar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\emmar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\emmar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\emmar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\emmar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu')
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation='sigmoid')
)


# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\emmar\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\emmar\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\emmar\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\emmar\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 1s 894us/step - loss: 0.5715 - accuracy: 0.7210
Epoch 2/100
804/804 [==============================] - 1s 899us/step - loss: 0.5557 - accuracy: 0.7288
Epoch 3/100
804/804 [==============================] - 1s 928us/step - loss: 0.5523 - accuracy: 0.7306
Epoch 4/100
804/804 [==============================] - 1s 958us/step - loss: 0.5502 - accuracy: 0.7316
Epoch 5/100
804/804 [==============================] - 1s 891us/step - loss: 0.5498 - accuracy: 0.7298
Epoch 6/100
804/804 [==============================] - 1s 897us/step - loss: 0.5485 - accuracy: 0.7323
Epoch 7/100
804/804 [==============================] - 1s 894us/step - loss: 0.5479 - accuracy: 0.7333
Epoch 8/100
804/804 [==============================] - 1s 890us/step - loss: 0.5476 - accuracy: 0.7332
Epoch 9/100
804/804 [==============================] - 1s 911us/step - loss: 0.5463 - accuracy: 0.7335
Epoch 10/100
804/804 [==============================] - 1s 904us/step - loss: 0.5458 - accuracy: 0.7343
Epoch 11/100
804/804 [==============================] - 1s 893us/step - loss: 0.5455 - accuracy: 0.7336
Epoch 12/100
804/804 [==============================] - 1s 894us/step - loss: 0.5448 - accuracy: 0.7341
Epoch 13/100
804/804 [==============================] - 1s 881us/step - loss: 0.5448 - accuracy: 0.7349
Epoch 14/100
804/804 [==============================] - 1s 894us/step - loss: 0.5443 - accuracy: 0.7349
Epoch 15/100
804/804 [==============================] - 1s 889us/step - loss: 0.5439 - accuracy: 0.7353
Epoch 16/100
804/804 [==============================] - 1s 896us/step - loss: 0.5435 - accuracy: 0.7356
Epoch 17/100
804/804 [==============================] - 1s 900us/step - loss: 0.5433 - accuracy: 0.7352
Epoch 18/100
804/804 [==============================] - 1s 885us/step - loss: 0.5428 - accuracy: 0.7365
Epoch 19/100
804/804 [==============================] - 1s 892us/step - loss: 0.5420 - accuracy: 0.7359
Epoch 20/100
804/804 [==============================] - 1s 891us/step - loss: 0.5426 - accuracy: 0.7359
Epoch 21/100
804/804 [==============================] - 1s 899us/step - loss: 0.5422 - accuracy: 0.7352
Epoch 22/100
804/804 [==============================] - 1s 886us/step - loss: 0.5415 - accuracy: 0.7365
Epoch 23/100
804/804 [==============================] - 1s 901us/step - loss: 0.5418 - accuracy: 0.7355
Epoch 24/100
804/804 [==============================] - 1s 906us/step - loss: 0.5412 - accuracy: 0.7372
Epoch 25/100
804/804 [==============================] - 1s 975us/step - loss: 0.5409 - accuracy: 0.7360
Epoch 26/100
804/804 [==============================] - 1s 969us/step - loss: 0.5410 - accuracy: 0.7357
Epoch 27/100
804/804 [==============================] - 1s 913us/step - loss: 0.5408 - accuracy: 0.7368
Epoch 28/100
804/804 [==============================] - 1s 899us/step - loss: 0.5405 - accuracy: 0.7362
Epoch 29/100
804/804 [==============================] - 1s 899us/step - loss: 0.5408 - accuracy: 0.7368
Epoch 30/100
804/804 [==============================] - 1s 897us/step - loss: 0.5406 - accuracy: 0.7375
Epoch 31/100
804/804 [==============================] - 1s 894us/step - loss: 0.5404 - accuracy: 0.7370
Epoch 32/100
804/804 [==============================] - 1s 896us/step - loss: 0.5398 - accuracy: 0.7365
Epoch 33/100
804/804 [==============================] - 1s 911us/step - loss: 0.5400 - accuracy: 0.7372
Epoch 34/100
804/804 [==============================] - 1s 908us/step - loss: 0.5403 - accuracy: 0.7368
Epoch 35/100
804/804 [==============================] - 1s 918us/step - loss: 0.5396 - accuracy: 0.7375
Epoch 36/100
804/804 [==============================] - 1s 925us/step - loss: 0.5396 - accuracy: 0.7362
Epoch 37/100
804/804 [==============================] - 1s 914us/step - loss: 0.5397 - accuracy: 0.7377
Epoch 38/100
804/804 [==============================] - 1s 922us/step - loss: 0.5391 - accuracy: 0.7381
Epoch 39/100
804/804 [==============================] - 1s 961us/step - loss: 0.5394 - accuracy: 0.7374
Epoch 40/100
804/804 [==============================] - 1s 949us/step - loss: 0.5395 - accuracy: 0.7374
Epoch 41/100
804/804 [==============================] - 1s 918us/step - loss: 0.5391 - accuracy: 0.7376
Epoch 42/100
804/804 [==============================] - 1s 919us/step - loss: 0.5387 - accuracy: 0.7372
Epoch 43/100
804/804 [==============================] - 1s 951us/step - loss: 0.5388 - accuracy: 0.7373
Epoch 44/100
804/804 [==============================] - 1s 954us/step - loss: 0.5389 - accuracy: 0.7382
Epoch 45/100
804/804 [==============================] - 1s 944us/step - loss: 0.5385 - accuracy: 0.7385
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7374
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7376
Epoch 48/100
804/804 [==============================] - 1s 957us/step - loss: 0.5386 - accuracy: 0.7371
Epoch 49/100
804/804 [==============================] - 1s 947us/step - loss: 0.5381 - accuracy: 0.7379
Epoch 50/100
804/804 [==============================] - 1s 952us/step - loss: 0.5383 - accuracy: 0.7381
Epoch 51/100
804/804 [==============================] - 1s 955us/step - loss: 0.5383 - accuracy: 0.7389
Epoch 52/100
804/804 [==============================] - 1s 960us/step - loss: 0.5378 - accuracy: 0.7385
Epoch 53/100
804/804 [==============================] - 1s 957us/step - loss: 0.5373 - accuracy: 0.7392
Epoch 54/100
804/804 [==============================] - 1s 958us/step - loss: 0.5382 - accuracy: 0.7385
Epoch 55/100
804/804 [==============================] - 1s 957us/step - loss: 0.5375 - accuracy: 0.7388
Epoch 56/100
804/804 [==============================] - 1s 985us/step - loss: 0.5377 - accuracy: 0.7379
Epoch 57/100
804/804 [==============================] - 1s 983us/step - loss: 0.5376 - accuracy: 0.7385
Epoch 58/100
804/804 [==============================] - 1s 962us/step - loss: 0.5377 - accuracy: 0.7388
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7397
Epoch 60/100
804/804 [==============================] - 1s 978us/step - loss: 0.5371 - accuracy: 0.7379
Epoch 61/100
804/804 [==============================] - 1s 968us/step - loss: 0.5373 - accuracy: 0.7387
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7392
Epoch 63/100
804/804 [==============================] - 1s 983us/step - loss: 0.5367 - accuracy: 0.7395
Epoch 64/100
804/804 [==============================] - 1s 987us/step - loss: 0.5369 - accuracy: 0.7390
Epoch 65/100
804/804 [==============================] - 1s 970us/step - loss: 0.5368 - accuracy: 0.7383
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7384
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7383
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 69/100
804/804 [==============================] - 1s 993us/step - loss: 0.5367 - accuracy: 0.7393
Epoch 70/100
804/804 [==============================] - 1s 982us/step - loss: 0.5365 - accuracy: 0.7396
Epoch 71/100
804/804 [==============================] - 1s 971us/step - loss: 0.5367 - accuracy: 0.7394
Epoch 72/100
804/804 [==============================] - 1s 967us/step - loss: 0.5367 - accuracy: 0.7394
Epoch 73/100
804/804 [==============================] - 1s 966us/step - loss: 0.5357 - accuracy: 0.7391
Epoch 74/100
804/804 [==============================] - 1s 978us/step - loss: 0.5362 - accuracy: 0.7381
Epoch 75/100

804/804 [==============================] - 1s 971us/step - loss: 0.5366 - accuracy: 0.7395
Epoch 76/100
804/804 [==============================] - 1s 972us/step - loss: 0.5361 - accuracy: 0.7396
Epoch 77/100
804/804 [==============================] - 1s 962us/step - loss: 0.5363 - accuracy: 0.7382
Epoch 78/100
804/804 [==============================] - 1s 992us/step - loss: 0.5363 - accuracy: 0.7399
Epoch 79/100
804/804 [==============================] - 1s 970us/step - loss: 0.5362 - accuracy: 0.7393
Epoch 80/100
804/804 [==============================] - 1s 973us/step - loss: 0.5358 - accuracy: 0.7392
Epoch 81/100
804/804 [==============================] - 1s 987us/step - loss: 0.5360 - accuracy: 0.7385
Epoch 82/100
804/804 [==============================] - 1s 973us/step - loss: 0.5359 - accuracy: 0.7399
Epoch 83/100
804/804 [==============================] - 1s 962us/step - loss: 0.5357 - accuracy: 0.7396
Epoch 84/100
804/804 [==============================] - 1s 970us/step - loss: 0.5362 - accuracy: 0.7393
Epoch 85/100
804/804 [==============================] - 1s 967us/step - loss: 0.5357 - accuracy: 0.7386
Epoch 86/100
804/804 [==============================] - 1s 975us/step - loss: 0.5361 - accuracy: 0.7401
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7393
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7403
Epoch 89/100
804/804 [==============================] - 1s 970us/step - loss: 0.5356 - accuracy: 0.7394
Epoch 90/100
804/804 [==============================] - 1s 970us/step - loss: 0.5355 - accuracy: 0.7402
Epoch 91/100
804/804 [==============================] - 1s 985us/step - loss: 0.5355 - accuracy: 0.7395
Epoch 92/100
804/804 [==============================] - 1s 985us/step - loss: 0.5357 - accuracy: 0.7398
Epoch 93/100
804/804 [==============================] - 1s 981us/step - loss: 0.5353 - accuracy: 0.7395
Epoch 94/100
804/804 [==============================] - 1s 979us/step - loss: 0.5353 - accuracy: 0.7393
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7400
Epoch 96/100
804/804 [==============================] - 1s 986us/step - loss: 0.5352 - accuracy: 0.7393
Epoch 97/100
673/804 [========================>.....] - ETA: 0s - loss: 0.5365 - accuracy: 0.7394

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
nn.save_weights('AlphabetSoupCharity.h5')